
<div class="atm-container">
  <div class="input-container">

    <mat-form-field class="cash-input">
      <input
        matInput
        id="cash-input"
        type="number"
        step="10"
        placeholder="Cash amount"
        [formControl]="cashInputControl"
      >
    </mat-form-field>

    <button
      mat-flat-button
      id="withdraw-button"
      color="primary"
      [disabled]="!cashInputControl.valid"
      (click)="onWithdrawClick()"
    >WITHDRAW</button>
  </div>

  <mat-card class="response-container">
    <h5 *ngIf="!responses.length; else results" class="placeholder">Withdraw results will be shown here</h5>
    <ng-template #results>
      <div class="response-row" *ngFor="let res of responses">
        <span>Amount: {{ res.amount }}, notes: </span>
        <app-notes [notes]="res.notes"></app-notes>
      </div>
    </ng-template>
  </mat-card>
</div>
