.atm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .cash-input {
      width: 14rem;
    }
  }

  .response-container {
    margin-top: 16px;
    height: 16rem;
    overflow-y: auto;

    .placeholder {
      margin-top: 16px;
      text-align: center;
    }
  }
}
